.asi-input-container {
    display: inline-block;
}

.asi-input-value-stat {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0,0,0,.87);
    border: none;
    background-color: inherit;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03125em;
    text-decoration: inherit;
    text-transform: none;
}

.asi-input-value-option.mdc-list-item {
    align-items: center;
}

option {
    display: flex;
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
    cursor: pointer;
    min-height: 48px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03125em; 
}

.asi-input-value-option {
    display: flex;
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    user-select: none;
    cursor: pointer;
    min-height: 48px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.03125em;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.mdc-menu-surface.mat-mdc-select-panel {
    width: 100%;
    max-height: 275px;
    position: static;
    outline: 0;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
}

.mdc-menu-surface--open {
    display: inline-block;
    transform: scale(1);
    opacity: 1;
}