<div>
  <h1 mat-dialog-title>Create New Character</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <label for="name">Character Name</label>
      <input
        matInput
        type="text"
        [(ngModel)]="model.charName"
        name="name"
        #name="ngModel"
      />
    </mat-form-field>
    <mat-form-field>
      <label for="class">Class</label>
      <mat-select [(ngModel)]="model.charClass" name="class" #class="ngModel">
        <mat-option *ngFor="let cClass of classData" [value]="cClass">
          {{ cClass.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <label for="race">Race</label>
      <mat-select [(ngModel)]="model.charRace" name="race" #race="ngModel">
        <mat-option *ngFor="let cRace of raceData" [value]="cRace">
          {{ cRace.raceName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <label for="alignment">alignment</label>
      <mat-select
        [(ngModel)]="model.alignment"
        name="alignment"
        #alignment="ngModel"
      >
        <mat-option [value]="0">Lawful Good</mat-option>
        <mat-option [value]="1">Neutral Good</mat-option>
        <mat-option [value]="2">Chaotic Good</mat-option>
        <mat-option [value]="3">Lawful Neutral</mat-option>
        <mat-option [value]="4">True Neutral</mat-option>
        <mat-option [value]="5">Chaotic Neutral</mat-option>
        <mat-option [value]="6">Lawful Evil</mat-option>
        <mat-option [value]="7">Neutral Evil</mat-option>
        <mat-option [value]="8">Chaotic Evil</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <label for="level">level</label>
      <input
        matInput
        type="number"
        [(ngModel)]="model.level"
        name="level"
        #level="ngModel"
      />
    </mat-form-field>
    <mat-form-field>
      <label for="hp">hit points</label>
      <input
        matInput
        type="number"
        [(ngModel)]="model.hitPoints"
        name="hp"
        #hp="ngModel"
      />
    </mat-form-field>
    <mat-form-field>
      <label for="ac">armor class</label>
      <input
        matInput
        type="number"
        [(ngModel)]="model.armorClass"
        name="ac"
        #ac="ngModel"
      />
    </mat-form-field>
    <mat-form-field>
      <label for="speed">speed</label>
      <input
        matInput
        type="number"
        [(ngModel)]="model.speed"
        name="speed"
        #speed="ngModel"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-selection-list #personality>
        <label for="personality">Personality Traits</label>
        <mat-list-option *ngFor="let trait of model.personalityTraits" [value]="trait">
          {{trait}}
        </mat-list-option>
      </mat-selection-list>
      <input matInput type="text" [(ngModel)]="newTrait"/>
      <button mat-button (click)="addTrait(newTrait)">add</button>
      <button mat-button (click)="deleteTraits(personality.selectedOptions.selected)">delete</button>
    </mat-form-field>
    <mat-form-field>
      <label for="strength">Strength modifier: {{model.stats[0].statModifier}}</label>
      <input matInput type="number" [(ngModel)]="model.stats[0].statValue">
      <label for="dexterity">Dexterity</label>
      <input matInput type="number" [(ngModel)]="model.stats[1].statValue">
      <label for="constitution">Constitution</label>
      <input matInput type="number" [(ngModel)]="model.stats[2].statValue">
      <label for="intelligence">Intelligence</label>
      <input matInput type="number" [(ngModel)]="model.stats[3].statValue">
      <label for="wisdom">Wisdom</label>
      <input matInput type="number" [(ngModel)]="model.stats[4].statValue">
      <label for="charisma">Charisma</label>
      <input matInput type="number" [(ngModel)]="model.stats[5].statValue">
    </mat-form-field>
    <div>
      <button mat-button [mat-dialog-close]="model">Save</button>
      <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
  </div>
</div>
