<mat-card [ngClass]="'races-card, card'">
    <mat-card-header>
      <mat-card-title>Races</mat-card-title>
      <mat-card-subtitle>Races you've created</mat-card-subtitle>
      <button mat-icon-button [color]="'primary'" (click)="newRace.emit()">
        <mat-icon>library_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="races"
        [ngClass]="'race-table, display-table'"
      >
        <ng-component matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let race">{{ race.raceName }}</td>
        </ng-component>
        <ng-component matColumnDef="asi">
          <th mat-header-cell *matHeaderCellDef>Primary ASI</th>
          <td mat-cell *matCellDef="let race">
            {{ race.abilityScoreIncrease[0][0].name }},
            {{ race.abilityScoreIncrease[0][1] }}
          </td>
        </ng-component>
        <ng-component matColumnDef="userCreated">
          <th mat-header-cell *matHeaderCellDef>User Created</th>
          <td mat-cell *matCellDef>false</td>
        </ng-component>
        <tr mat-header-row *matHeaderRowDef="raceTableColumns"></tr>
        <tr
          mat-row
          (click)="viewRace.emit(row)"
          *matRowDef="let row; columns: raceTableColumns"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>