.stat-list-input-container {
    display: inline-block;
}

.stat-list-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }