<div>
  <h1 mat-dialog-title>View/Edit {{ data.raceName }}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <label for="name">Race Name </label>
      <input
        matInput
        type="text"
        [(ngModel)]="model.raceName"
        name="name"
        #name="ngModel"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="number-input">Age Range</label>
      <dual-number-input [(ngModel)]="model.ageRange"></dual-number-input>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="number-input">Height Range</label>
      <dual-number-input [(ngModel)]="model.heightRange"></dual-number-input>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="number-input">Weight Range</label>
      <dual-number-input [(ngModel)]="model.weightRange"></dual-number-input>
    </mat-form-field>
    <mat-form-field>
      <label for="alignment">Alignment Skew</label>
      <mat-select
        [(ngModel)]="model.alignmentSkew"
        name="alignment"
        #alignment="ngModel"
      >
        <mat-option [value]="0">Lawful Good</mat-option>
        <mat-option [value]="1">Neutral Good</mat-option>
        <mat-option [value]="2">Chaotic Good</mat-option>
        <mat-option [value]="3">Lawful Neutral</mat-option>
        <mat-option [value]="4">True Neutral</mat-option>
        <mat-option [value]="5">Chaotic Neutral</mat-option>
        <mat-option [value]="6">Lawful Evil</mat-option>
        <mat-option [value]="7">Neutral Evil</mat-option>
        <mat-option [value]="8">Chaotic Evil</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-selection-list>
        <label>Test123</label>
        <mat-list-option *ngFor="let val of [1, 2, 3]">
          <input type="text" />
        </mat-list-option>
      </mat-selection-list>
      <input matInput type="text" [(ngModel)]="test" />
    </mat-form-field> -->
    <mat-form-field>
      <label for="asiField">Ability Score Increases</label>
      <div *ngFor="let asi of model.abilityScoreIncrease">
        <mat-select [(ngModel)]="asi[0]" name="asiStat" #asiStat="ngModel">
          <mat-option *ngFor="let stat of abilities">
            {{ stat.name }}
          </mat-option>
        </mat-select>
        <input matInput type="number" [(ngModel)]="asi[1]" />
      </div>
    </mat-form-field>
    <div>
      <button mat-button [mat-dialog-close]="model">Save</button>
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button (click)="remove()">Delete</button>
    </div>
  </div>
</div>
