<div>
  <h1 mat-dialog-title>View/Edit {{ data.raceName }}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <label for="name">Race Name </label>
      <input
        matInput
        type="text"
        required
        [(ngModel)]="model.raceName"
        name="name"
        #name="ngModel"
      />
      <mat-error *ngIf="name.invalid">Name cannot be blank</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="number-input">Age Range</label>
      <dual-number-input required appInvalidRange [(ngModel)]="model.ageRange" #ageRange="ngModel"></dual-number-input>
      <mat-error *ngIf="ageRange.invalid && ageRange.errors?.['required']">Values cannot be blank</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="number-input">Height Range</label>
      <dual-number-input [(ngModel)]="model.heightRange"></dual-number-input>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label for="number-input">Weight Range</label>
      <dual-number-input [(ngModel)]="model.weightRange"></dual-number-input>
    </mat-form-field>
    <mat-form-field>
      <label for="alignment">Alignment Skew</label>
      <mat-select
        [(ngModel)]="model.alignmentSkew"
        name="alignment"
        #alignment="ngModel"
      >
        <mat-option [value]="0">Lawful Good</mat-option>
        <mat-option [value]="1">Neutral Good</mat-option>
        <mat-option [value]="2">Chaotic Good</mat-option>
        <mat-option [value]="3">Lawful Neutral</mat-option>
        <mat-option [value]="4">True Neutral</mat-option>
        <mat-option [value]="5">Chaotic Neutral</mat-option>
        <mat-option [value]="6">Lawful Evil</mat-option>
        <mat-option [value]="7">Neutral Evil</mat-option>
        <mat-option [value]="8">Chaotic Evil</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <label>Ability Score Increases</label>
      <mat-selection-list #AbilityScoreIncreases>
        <mat-list-option
          *ngFor="let asi of model.abilityScoreIncrease"
          (click)="noCheck($event)"
          [disableRipple]="true"
          [value]="asi"
        >
          <asi-input
            [ngModel]="asi"
            (ngModelChange)="changeAsi($event, asi)"
            (click)="noCheck($event)"
          ></asi-input>
        </mat-list-option>
      </mat-selection-list>
      <div>
        <button mat-button (click)="addASI()">Add ASI</button>
        <button
          mat-button
          (click)="deleteASIs(AbilityScoreIncreases.selectedOptions.selected)"
        >
          Delete Selected ASIs
        </button>
      </div>
    </div>
    <div mat-dialog-actions>
      <div *ngIf="name.valid">
        <button mat-button [mat-dialog-close]="model">Save</button>
      </div>
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button (click)="remove()">Delete</button>
    </div>
  </div>
</div>
