<mat-toolbar [ngClass]="'home-toolbar'" [color]="'primary'">
  <button mat-icon-button [color]="'accent'" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-drawer-container [ngClass]="'home-screen-container'" autosize>
  <mat-drawer #drawer [ngClass]="'home-screen-sidebar'" mode="side">
    <div [ngClass]="'sidebar-content'">
      <button mat-raised-button [color]="'accent'">Characters</button>
    </div>
    <div [ngClass]="'sidebar-content'">
      <button mat-raised-button [color]="'accent'">Classes</button>
    </div>
    <div [ngClass]="'sidebar-content'">
      <button mat-raised-button [color]="'accent'">Races</button>
    </div>
    <div [ngClass]="'sidebar-content'">
      <button mat-raised-button [color]="'accent'">Home</button>
    </div>
    <div [ngClass]="'sidebar-content'">
      <button mat-raised-button [color]="'accent'">Contact</button>
    </div>
    <div [ngClass]="'sidebar-content'">
      <button mat-raised-button [color]="'accent'">Donate</button>
    </div>
  </mat-drawer>
  <div [ngClass]="'display-cards'">
    <character-card class="character-list" [characters]="(characters$ | async)!" [races]="(races$ | async)!" [classes]="(classes$ |async)!"></character-card>
    <class-card class="class-list" [classes]="(classes$ | async)!"></class-card>
    <race-card class="race-list" [races]="(races$ | async)!"></race-card>
  </div>
</mat-drawer-container>
