body {
  background-color: rgb(230, 230, 184);
}

.display-cards {
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 10px;
}

.card {
  min-width: 320px;
  min-height: 500px;
  max-height: 500px;
  margin: 10px;
  overflow-y: scroll;
  .card-header{
    position: -webkit-sticky;
    position:sticky;
  }
}

.home-screen-container {
  background-color: rgb(230, 230, 184);
}

table {
    width: 100%;
    align-content: center;
}

// .mat-column-name{
  
// }

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: black;
}