body {
  background-color: rgb(230, 230, 184);
}

.display-cards {
  justify-content: center;
  align-content: center;
  display: flex;
  margin-top: 10px;
}

.card {
  min-width: 320px;
  min-height: 400px;
  max-height: 400px;
  margin: 10px;
}

.home-screen-container {
  background-color: rgb(230, 230, 184);
}

table {
    width: 100%;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: red;
}

.mat-mdc-row .mat-mdc-cell {
  border-top: 1px solid;
  border-bottom: 1px solid;
  cursor: pointer;
}

.home-screen-sidebar {
  min-width: 180px;
  padding-top: 10px;
  padding-left: 10px;
  justify-content: center;
  align-content: center;
}

.sidebar-content {
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}
